<a href="https://colab.research.google.com/github/sudeep93/CE888/blob/main/lab6%5CTask7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn import cluster, datasets, metrics
import seaborn as sns

## Lab 6: Exercise to be completed

### Task 7: To complete this task, please create a new notebook in Google Colab. 

Note: Please create a new notebook for this task.

Your data is stored in Lab_6/Data folder. There are two .csv files: 1) Country-data.csv and 2) data-dictionary.csv. Please explore the data and use any clustering method to find the list of countries, which can categorised as follows:

| S.No      | Categories |
| ----------- | ----------- |
| 1   | under-developing country |
| 2   | developing country       |
| 3   | developed country        |


Note: please justify your reason, why and how you have concluded your answer.

In [4]:
# loading country data
df_country = pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/Country-data.csv', header='infer')
df_country

                 country  child_mort  exports  ...  life_expec  total_fer   gdpp
0            Afghanistan        90.2     10.0  ...        56.2       5.82    553
1                Albania        16.6     28.0  ...        76.3       1.65   4090
2                Algeria        27.3     38.4  ...        76.5       2.89   4460
3                 Angola       119.0     62.3  ...        60.1       6.16   3530
4    Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200
..                   ...         ...      ...  ...         ...        ...    ...
162              Vanuatu        29.2     46.6  ...        63.0       3.50   2970
163            Venezuela        17.1     28.5  ...        75.4       2.47  13500
164              Vietnam        23.3     72.0  ...        73.1       1.95   1310
165                Yemen        56.3     30.0  ...        67.5       4.67   1310
166               Zambia        83.1     37.0  ...        52.0       5.40   1460

[167 rows x 10 columns]

In [5]:
# Fetch data into x and y variables
x_=df_country.iloc[:,1:9] # Covariates or input
y_=df_country.iloc[:,9:10] # Labels or classes or output
print(x_.columns)
print(y_.columns)

Index(['child_mort', 'exports', 'health', 'imports', 'income', 'inflation',
       'life_expec', 'total_fer'],
      dtype='object')
Index(['gdpp'], dtype='object')

In [6]:
x1=np.array(x_)
y1=np.array(y_)
# Fit K-Means Clustering on wine data
km1=cluster.KMeans(n_clusters=3)
km1.fit(x_)
km1.labels_

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0,
       0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 2, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [ ]:
df_country['label']=km1.labels_
df_country

In [ ]:
df_country.loc[df_country.label == 2, 'label'] = 'under-developing country'
df_country.loc[df_country.label == 1, 'label'] = 'developing country'
df_country.loc[df_country.label == 0, 'label'] = 'developed country'

In [ ]:
df_country

In [ ]:

plt.figure(figsize=(8,5))
plt.title("Scattered data  based on True lables ", fontsize=18)
plt.grid(True)
plt.scatter(df_country['income'],df_country['exports'],c=km1.labels_,label="Features")

plt.legend(loc='upper left', numpoints=1, ncol=3, fontsize=8, bbox_to_anchor=(0, 0))
plt.savefig('KCluster.png', dpi=300)

plt.show()